# =========================
# CREDENCIAIS / SEGURANÇA
# =========================
credenciais.json
.env

# =========================
# DADOS (NÃO VERSIONAR)
# =========================
*.csv
*.xlsx
*.xls

# =========================
# LOGS
# =========================
*.log

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# AMBIENTE VIRTUAL
# =========================
venv/
.env/
.venv/

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / EDITORES
# =========================
.vscode/
.idea/

# =========================
# JUPYTER (se usar depois)
# =========================
.ipynb_checkpoints/
