#To run this project, you need to install the following libraries in your command prompt (cmd):
#Para rodar este projeto, é necessário instalar as seguintes bibliotecas em seu cmd:

python -m pip install

pandas
yfinance
gspread
google-auth
feedparser
selenium
undetected-chromedriver
requests
